@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
	background-color: #925F62;
	font-family: 'Raleway', sans-serif;
}

h2 {
	background-color: #B23A48;
	margin: 10px 0px;
	padding: 10px;
}

nav ul {
	padding: 10px;
	overflow: auto;
	background-color: #E8CCBF;
	list-style: none; /*this takes the bullet points of  */
}

nav li {
	float: left; /* aligns nav side by side */
	width: 33.33%;
	text-align: center;
	border: 2px solid pink;
}

nav a {
	color: #476A6f;
	text-decoration: none;
	font-size: 20px;
	transition: .4s;
}

nav a:hover {
	 color: #E8CCBF;
}

.header {
	padding: 150px;
	background-image: url("../images/pinkred_rose.jpg");
	background-size: cover;
	background-position: right;
	text-align: center;
	color: #fff;
	
}

.main-content {
	padding: 20px;
	margin: 20px;
	background-color: #E8CCBF;
	font-family: serif;
	font-size: 18px;
	line-height: 34px;
	text-align: center;
	color: #fff;
}

label {
	display: block;
}

textarea {
	height: 150px;
	width: 250px;
}

/* These are utility classes ================== */

.centertext {
	font-style: italic;
	text-align: center;
	color: #fff;
}

.contact-nav {
	padding: 10px;
	overflow: auto;
	background-color: #E8CCBF;
	list-style: none;
	
}

 .contact-navli {
	float: left; /* aligns nav side by side */
	/*width: 33.33%;*/
	/*text-align: center;*/
	/*border: 2px solid pink;*/
} 

	



/* .img-50 {
	width: 50%;
	display: block;
	margin: 10px auto;
}

/*h1 {
	text-align: center;
	font-size: 50px;

}*/

